ravi/src/test/munit/new-test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:munit="http://www.mulesoft.org/schema/mule/munit" xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
	<munit:config name="new-test-suite.xml" />
	<munit:test name="new-test-suite-raviFlowTest" doc:id="21c7e3c6-c1f8-47c6-bc71-a9e1bbe74da5" description="Test">
		<munit:execution >
			<flow-ref doc:name="Flow-ref to raviFlow" doc:id="2f15cd18-0277-4b3f-a2bf-df1518117e5f" name="raviFlow"/>
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert that" doc:id="ca2e06dd-320c-4287-b460-7811fd20ed8d" is="#[MunitTools::notNullValue()]" expression="#[payload]"/>
		</munit:validation>
	</munit:test>
	<munit:before-suite name="new-test-suiteBefore_Suite" doc:id="5301f82c-cb8e-46a1-9182-a451434f0c9f" >
		<logger level="INFO" doc:name="Logger" doc:id="3b894f8e-3829-4a5b-b0d7-189a8deacb69" message='#["before suit"]'/>
	</munit:before-suite>
	<flow name="new-test-suiteFlow" doc:id="deb57e7f-7fd5-4bed-b71c-ac03f9f21de3" >
	</flow>
	<munit:before-test name="new-test-suiteBefore_Test" doc:id="38da3b58-71fd-41bc-a66f-6913c950ce69" >
		<logger level="INFO" doc:name="Logger" doc:id="d1905781-f26c-4ae6-af35-5ce61233b699" message='#["before test"]'/>
	</munit:before-test>
	<munit:after-suite name="new-test-suiteAfter_Suite" doc:id="22fbb9d6-177c-4fa8-bcc6-24bf49ecb2be" >
		<logger level="INFO" doc:name="Logger" doc:id="b798835a-4ec6-44ef-8c20-65bd6d75a8ed" message='#["aftersuite"]'/>
	</munit:after-suite>
	<munit:after-test name="new-test-suiteAfter_Test" doc:id="6d43353c-912e-49bf-89d2-90cba8a1931e" >
		<logger level="INFO" doc:name="Logger" doc:id="1bd21a03-de10-4e2e-92ae-404c62d562c9" message='#["after test"]'/>
	</munit:after-test>


</mule>
